<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="digiEAR_api_sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <digiEAR_api_sample.Properties.Settings>
            <setting name="digiEAR_api_sample_DigiEarIndex_DEindex" serializeAs="String">
                <value>http://192.168.0.17/digiEARservices/DEindex.asmx</value>
            </setting>
            <setting name="digiEAR_api_sample_DigiEarSearch_DEsearch" serializeAs="String">
                <value>http://192.168.0.17/digiEARservices/DEsearch.asmx</value>
            </setting>
        </digiEAR_api_sample.Properties.Settings>
    </applicationSettings>
</configuration>